telethon==1.34.0
aiogram==2.25.1
psutil==5.9.5
loguru==0.7.0
lightDB==1.4.0
GitPython==3.1.31
aiohttp==3.8.5
pyyaml==6.0.1
requests==2.31.0
qrcode==7.4.2
fastapi==0.101.1
uvicorn==0.23.2
jinja2

# python>=3.9
