body {
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  transition: background-color 0.3s ease;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#theme-toggle {
  background-color: #6d6d6d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#theme-toggle:hover {
  background-color: #464646;
}

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 500px;
}

.notification-container-err {
  position: fixed;
  bottom: 20px;
  right: 1400px;
  width: 500px;
}

.notification-err {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.37);
  border: 1px solid #ff0000;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, margin-bottom 0.3s ease;
}

.notification-err.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  margin-bottom: 0;
}

.notification {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(3, 99, 0, 0.349);
  border: 1px solid #4CAF50;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, margin-bottom 0.3s ease;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  margin-bottom: 0;
}

.modal {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-overlay {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}

.modal-content {
  background-color: rgba(1, 129, 235, 0.486);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 1000;
  width: 80%;
  max-width: 800px;
  height: 80%;
  max-height: 400px;
  margin: 0 auto;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#modal-title {
  margin-top: 0;
}

#modal-text {
  margin-bottom: 20px;
}

#modal-button {
  display: block;
  margin: 0 auto;
  margin-top: 300px;
}

#modal-button:hover {
  background-color: #45a049;
}

#qr_placeholder {
  background-color: gray;
  display: block;
  margin: 10px auto;
  width: 350px;
  height: 350px;
}

body.dark-theme {
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.container.dark-theme {
  transition: background-color 0.3s ease;
  max-width: 400px;
  margin: 50px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

h2.dark-theme {
  color: #111;
}

label.dark-theme {
  color: #111;
}

input[type="text"].dark-theme,
input[type="password"].dark-theme {
  background-color: #333;
  color: #ccc;
}

input[type="submit"].dark-theme {
  background-color: #1ABC9C;
  color: #fff;
}

input[type="submit"].dark-theme:hover {
  background-color: #16A085;
}

.notification.dark-theme {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(9, 255, 0, 0.384);
  border: 1px solid #4CAF50;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease, margin-bottom 0.3s ease;
}

.modal-content.dark-theme {
  background-color: rgba(3, 155, 229, 0.486);
}

.close.dark-theme {
  color: #ccc;
}

#modal-title.dark-theme {
  color: #ccc;
}

#modal-text.dark-theme {
  color: #ccc;
}

#modal-button.dark-theme {
  background-color: #1ABC9C;
  color: #fff;
}

#modal-button.dark-themee:hover {
  background-color: #16A085;
}
